{% extends "base.html" %}
{% block title %} Tweet Generator {% endblock %}
{% block content %}
    <div class="body">
        <div class="container-fluid pt-2">
            <div class="row welcome text-center ">
                <div class="col-12">
                    <h1 class="display-4  float-centre"> Your artificial Tweet is here!</h1>
                </div>
                <div class="col-12">
                    <p class="lead"> {{tweet}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
