{% extends "base.html" %}
{% block title %} Twitter Statistics {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4"> TweetBot Statistics</h1>
            </div>
            <div class="col-12">
                <p id="data" class="lead">{{data}}</p>
            </div>
        </div>
    </div>
    <script src="/static/js/stats.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock %}
